body {
  /* background: linear-gradient(136deg, #3023ae 0%, #c96dd8 100%); */
  font-family: "Space Mono", monospace;
  background-image: url(https://wallpapertag.com/wallpaper/full/5/7/4/504505-football-backgrounds-1920x1080-for-ios.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
}

.header {
  background: #00000061;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

h1,
h3 {
  color: white;
}

.randomizer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.randomizer textarea {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.5rem;
  line-height: 1.2rem;
}

.randomizer button {
  border: 2px solid black;
  background: white;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  grid-auto-flow: column;
}

.slot {
  background: white;
  position: relative;
  border: 2px solid black;
  box-shadow: 3px 3px black;
}

.team {
  padding: 0.5rem;
  cursor: pointer;
}

.team:hover {
  background-color: #90caf966;
}

.team:first-child {
  margin-bottom: 1rem;
}

.slot::after {
  content: "vs";
  color: blue;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  display: block;
  font-size: 0.9rem;
}

.arrow-down::after {
  content: "";
  position: absolute;
  width: 45px;
  right: -45px;
  height: 2px;
  background: black;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: bottom left;
}

.arrow-up::after {
  content: "";
  position: absolute;
  width: 45px;
  right: -50px;
  height: 2px;
  background: black;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: bottom left;
}

.arrow-straight::after {
  content: "";
  position: absolute;
  width: 30px;
  right: -30px;
  height: 2px;
  background: black;
  bottom: 0;
}

.crafted {
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
  margin-top: 4rem;
  background: linear-gradient(0deg, #000000b8, #0000006b, transparent);
  color: white;
}

.crafted h3 {
  margin-bottom: 0.7rem;
}

.crafted a {
  color: #4e97ff;
}

.winners {
  height: 100vh;
}

.winners h1 {
  color: black;
}

.winners .popup {
  position: absolute;
  max-width: 30rem;
  background: white;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  color: black;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2rem 0;
  top: 20%;
}

.winners .cup {
  font-size: 10rem;
}
